* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ************************ NavBar start ****************************** */

nav {
  padding: 0 100px !important;
}
.navbar-brand img {
  height: 50px;
}
.nav-link {
  font-size: 1.2rem;
  color: #519259 !important;
  font-weight: 600;
  margin: 0 10px;
  padding: 0;
  transition: pading-bottom 1s ease-in-out;
}
.nav-link:hover {
  border-bottom: 2px solid #064635;
  padding-bottom: 2px;
}

/* ************************ header start ****************************** */

.carousel-item img {
  opacity: 60%;
  height: 80% !important;
  z-index: 2;
}
.carousel-caption {
  bottom: 13rem;
  text-align: left;
  width: 50%;
}

.carousel-caption h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: black;
}

.carousel-caption p {
  font-size: 1.5rem;
  font-weight: 500;
  width: 70%;
  margin: 20px 0;
  color: black;
}

.carousel-caption .btn {
  background-color: #278233;
  font-size: 1.5rem;
  padding: 10px 35px;
  font-weight: 300;
}

.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin: 10px;
  background-color: #06463580;
}
.carousel-indicators .active {
  background-color: #064635;
  opacity: 1;
}

/* ************************ section 2 ****************************** */

#section-2 {
  height: 130vh;
  padding: 0 100px;
  position: relative;
  overflow: hidden;
}

#section-2 h2 {
  margin: 50px 0 100px 20px;
  font-weight: 800;
  border-left: 5px solid #519259;
  padding-left: 10px;
}
.section2-flex {
  display: grid !important;
  grid-template-columns: 0.8fr 1.2fr;
}

.img-container {
  display: grid;
  margin: 20px;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(1fr, 200px));
  grid-template-rows: auto auto;
  align-items: stretch;
}

.img2 {
  grid-column: 2/2;
  grid-row: 1/3;
}

.img-container img {
  width: 100%;
}

.img4,
.img5 {
  position: absolute;
  top: 190px;
  left: 72px;
  width: 35%;
  transform: rotate(2deg);
  z-index: -1;
}
.img5 {
  top: 210px;
  left: 45px;
  width: 36%;
}
.img6 {
  position: absolute;
  right: -300px;
  top: -130px;
  width: 30%;
  z-index: -1;
  transform: rotate(-30deg);
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text p {
  max-width: 80%;
  font-size: 1.5rem;
  font-weight: 600;
}
/* ************************  footer****************************** */

#foot {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  box-shadow: 0px 0px 20px -7px rgba(93, 58, 0, 1);
}

#foot p {
  margin: 0px;
  font-size: 1rem;
  font-weight: 400;
}
span {
  font-weight: 800;
}

.foot-left {
  padding: 20px 50px;
}
.foot-left img {
  width: 100%;
}

.foot-right {
  background-color: #f4eea9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 20px 50px;
}

.copy-right {
  grid-column: 1/4;
}

.fr-left span {
  border-top: 3px solid #064635;
  padding-top: 3px;
}

.fr-right span {
  border-top: 3px solid #064635;
  padding-top: 3px;
}

/* ************************  media class ****************************** */

@media (max-width: 1260px) {
  .carousel-caption {
    bottom: 8rem;
    width: 60%;
  }
  nav {
    padding: 0 10px !important;
  }
}

@media (max-width: 1000px) {
  .text p {
    max-width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 30px;
  }

  #section-2 {
    height: 100vh;
    padding: 0 50px 0 100px;
  }
}

@media (max-width: 920px) {
  nav {
    padding: 0 100px !important;
  }

  .carousel-caption {
    bottom: 5rem;
    width: 60%;
    display: block !important;
  }

  .carousel-caption h1 {
    font-size: 2.5rem;
  }

  .carousel-caption p {
    font-size: 1.2rem;
  }

  .carousel-caption .btn {
    background-color: #278233;
    font-size: 1.2rem;
    padding: 8px 25px;
    font-weight: 300;
  }

  .text p {
    max-width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 30px;
  }
}
@media (max-width: 700px) {
  #section-2 {
    height: 150vh;
    padding: 0 50px;
  }

  nav {
    padding: 0 50px !important;
  }

  .carousel-caption {
    bottom: 2rem;
    width: 70vw;
    display: block !important;
  }

  .carousel-caption h1 {
    font-size: 150%;
  }

  .carousel-caption p {
    font-size: 80%;
    margin: 5px 0;
  }

  .carousel-caption .btn {
    background-color: #278233;
    font-size: 50%;
    padding: 5px 15px;
    font-weight: 300;
  }

  .carousel-indicators [data-bs-target] {
    border-radius: 100%;
    height: 7px;
    width: 7px;
    margin: 10px;
    background-color: #06463580;
  }

  .section2-flex {
    display: grid !important;
    grid-template-columns: 1fr;
  }

  .img-container {
    margin: 20px 50px 100px 50px;
    grid-template-columns: repeat(2, minmax(100px, 150px));
    justify-content: center;
  }

  .img4,
  .img5 {
    position: absolute;
    top: 180px;
    left: 150px;
    width: 55%;
    transform: rotate(2deg);
    z-index: -1;
  }
  .img5 {
    top: 210px;
    left: 135px;
    width: 55%;
  }
  .img6 {
    position: absolute;
    right: -300px;
    top: -130px;
    width: 30%;
    z-index: -1;
    transform: rotate(-30deg);
  }

  .text {
    display: block;
  }

  .text p {
    max-width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
  }

  #foot {
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0px 0px 20px -7px rgba(93, 58, 0, 1);
  }
}

@media (max-width: 500px) {
  .img-container {
    margin: 20px 50px;
    grid-template-columns: repeat(2, minmax(50px, 120px));
    justify-content: center;
  }

  .img4,
  .img5 {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 55%;
    transform: rotate(2deg);
    z-index: -1;
  }
  .img5 {
    top: 250px;
    left: 80px;
    width: 50%;
  }
   .text {
    display: block;
    padding-top: 50px;
  }
}
